
<div class="row rounded restaurant-card" style="background-color: #f5f5f5" >
  <div *ngFor ="let restaurant of resultset?.restaurants"
  class="card border-success m-1 rounded col-md-6 col-lg-3
  col-sm-8" id="search-result" style="width: 20rem;">
  <div class="card-body" (click)="onCardClick(restaurant)">
  <img class="img-thumbnail"
  src={{restaurant.restaurant.featured_image}} alt="Card image cap">
   <div class="card-body">
  <h5 class="card-title restaurant-name">{{restaurant.restaurant.name}}</h5>
  <p class="card-text
  restaurant-address">{{restaurant.restaurant.location.address}}</p>
  
  <p class="card-text text-primary restaurant-COT">
  Cost of Two : {{restaurant.restaurant.currency}}
  {{restaurant.restaurant.average_cost_for_two}}
  </p>
  
  
  <p class="card-text text-primary restaurant-rating">
  Rating :
  {{restaurant.restaurant.user_rating.aggregate_rating}}
  
  </p>
  
  <p class="card-text text-primary restaurant-vote">
  Votes : {{restaurant.restaurant.user_rating.votes}}
</p>
  
        </div>
      </div>
        <div>
  <div></div>        
  <button *ngIf="restaurant.restaurant.addedAsFav; else addFavouriteBlock"
  class="btn btn-outline-dark removeFav" (click)="removeFavourite(restaurant)"
  >Remove favourite</button>
  <ng-template #addFavouriteBlock>
  <button class="btn btn-outline-primary favourite" id="favourites-button"
  (click)="addFavourite(restaurant)">Add favourite</button>
  </ng-template>
  </div>
